canvas{
	border:1px solid #cccccc;
	/* disable antialiasing */
	image-rendering: optimizeSpeed;             /* Older versions of FF          */
	image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
	image-rendering: -webkit-optimize-contrast; /* Safari                        */
	image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
	image-rendering: pixelated;                 /* Awesome future-browsers       */
	-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
}

/*body {
  padding: 0;
  margin: 0;
}*/
body {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}
.imgButton {
  text-align: center;
  margin: auto;
}

.box {
    margin-left: auto; 
    margin-right: auto;
    height: 85%;
}

/*.imgButton{
    text-align:center;
}*/

.rotate {
            transform: rotate(90deg);
        }

.hide {
   display: none;
}